# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Data and DB files (do not commit raw data)
customer_churn_data_raw.xlsx
customer_churn.db
test_database.sqlite
exported_churn_data.csv

# VS Code
.vscode/

# Logs and env
*.log
.env

# Others
.idea/
